
 a:hover {
  text-decoration: none;
  outline: 0;
  /* color: #81b441; */
}

a:focus {
  text-decoration: none;
  outline: 0;
}

.preloader {
  background: var(--preloder);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.browser-screen-loading-content {
  text-align: center;
  height: 2em;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3em;
  left: 0;
  margin: auto;
}

/************************************/
/*****    Navigation area css   *****/
/************************************/

header {
  height: 97px;
  height: auto;
  /* background: #81b441; */
  background: var(--green);
 } 




.top-bar{
	padding: 15px 0;
	/* background: #262626; */
  background: var(--lightblack);
}

.top-bar-social a{
	color: var(--smokewhite);
	font-size: 22px;
	padding-right: 10px;
}

.top-bar-social a:hover{
color: var(--green);

}

.top-bar-info{
	text-align: right;
	padding-top: 6px;
}

.top-bar-info p{
	display: inline-block;
	color: var(--smokewhite);
	font-weight: 300;
	margin-left: 10px;
	margin-bottom: 0;
}

 
.top-bar-info i{
	color: var(--green);
	margin-right: 8px;
}

.sponser{
	padding: 30px 0;
}

.sponser-single{
	text-align: center;
}